AI_Expense_Tracker/Expense Tracker live.json
{
  "name": "Expense Tracker live",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Analyze the user input and break it down into below mentioned fields:\nCredit/Debit\nType of Expense\nAmount\nTotal\n\nWhen it is a debit subtract from the total amount,when it is a credit add in to the total amount.\nOnce you have come up with the output fields add the latest output field to the google sheet.\n\nIf the total become 10000 or less than 10000, send an email to user alerting them about low balance otherwise no need to send email to user.\n\n\nthe user input is : \n {{ $json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        0
      ],
      "id": "72931f5a-ea58-4ab3-9b12-3b01de32a4dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ],
      "id": "252a6c4b-efef-426a-b3d2-1e41f0e97abe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FwOSSIyiOZJYz88e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        208
      ],
      "id": "3965240f-bff1-4bd7-ab68-bc6fc5124821",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CizNDnABxlkNUNNjqcc66DNE2D36oCbkcKJxe9lsxzE",
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CizNDnABxlkNUNNjqcc66DNE2D36oCbkcKJxe9lsxzE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CizNDnABxlkNUNNjqcc66DNE2D36oCbkcKJxe9lsxzE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Credit/Debit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Credit_Debit', ``, 'string') }}",
            "Type of Expense ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type_of_Expense_', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Credit/Debit",
              "displayName": "Credit/Debit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type of Expense ",
              "displayName": "Type of Expense ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        208,
        208
      ],
      "id": "d1ae7cd4-7a49-4ad0-8438-a7738b739b01",
      "name": "Balance updater",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x24CMQEZM4e3iXzl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiforu144@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "51f46d9f-60d7-4b96-9722-d42852c5bfe5",
      "name": "Balance Alert",
      "webhookId": "5658993d-9fda-436f-b91b-d490d5d7be44",
      "credentials": {
        "gmailOAuth2": {
          "id": "qJDgqeuL19qYQU6O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "5a37c4ae-5bc8-47d4-a0ab-4b0a85d62882",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "1ca26744-fa89-4575-8c12-9876a3ddaee3",
      "name": "Webhook",
      "webhookId": "5a37c4ae-5bc8-47d4-a0ab-4b0a85d62882"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        0
      ],
      "id": "116b95b4-5e67-4614-bdcc-4c3037057c7c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balance updater": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Balance Alert": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d3a340aa-af00-4892-a782-d9bf927d9867",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8079544a1296b4c7c7aa775fd3ab449d6b6cb191a579a693a61207d59de77679"
  },
  "id": "NQ8fNLJtP6WSizto",
  "tags": []
}