My Personal Assistant/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        480,
        64
      ],
      "id": "70ebc35f-c493-4a48-a3fe-982349fa03f4",
      "name": "Telegram Trigger",
      "webhookId": "a44e28ff-4725-48f5-9e9b-50512660c365",
      "credentials": {
        "telegramApi": {
          "id": "EsokjwcCptbvE6sE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ababc31e-1345-49fc-9204-5ac7317f067a",
              "name": "text",
              "value": "={{ $json?.message?.text ||'' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        64
      ],
      "id": "6fb0dd4d-ec83-4fca-820e-6dc54a64df4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "156d5211-0c1c-4c2f-a74b-106dc454002d",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        64
      ],
      "id": "7d237333-60fc-471e-9740-5341ea2edc9d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -32
      ],
      "id": "bbbba168-115c-474f-8e07-d9afcd737e5d",
      "name": "Get a file",
      "webhookId": "2922d894-bf1e-433a-b212-a4350cee781f",
      "credentials": {
        "telegramApi": {
          "id": "EsokjwcCptbvE6sE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1520,
        -32
      ],
      "id": "b47bb62c-6ee5-4535-b369-a4804e685f3a",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ucNlwH4VvHcgQQAS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1472,
        208
      ],
      "id": "07f9aefc-e065-4f75-b1a4-2a1ebe60055a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}",
          "readStatus": "unread",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1360,
        528
      ],
      "id": "fb559656-f197-4560-8a12-d1b4983112ad",
      "name": "Get many messages in Gmail",
      "webhookId": "2a0ce9e0-8b78-40c6-ae13-aa75ee629511",
      "credentials": {
        "gmailOAuth2": {
          "id": "S4tJ8bOkuBsHlbZE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1520,
        560
      ],
      "id": "746ff970-cec5-4844-9994-fbcd019f0da2",
      "name": "Send a message in Gmail",
      "webhookId": "82cdd1f9-3550-4534-bf57-671c1150c825",
      "credentials": {
        "gmailOAuth2": {
          "id": "S4tJ8bOkuBsHlbZE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aiforu144@gmail.com",
          "mode": "list",
          "cachedResultName": "aiforu144@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        560
      ],
      "id": "1fa907f8-2fd8-4187-b3cb-63d38b2cf1b3",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XX5kWdzs4Xl3foCc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aiforu144@gmail.com",
          "mode": "list",
          "cachedResultName": "aiforu144@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1936,
        592
      ],
      "id": "6cd07638-f7bd-4056-b579-592c5c97c66e",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XX5kWdzs4Xl3foCc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10KiYSO16lRzGNNQclv8FB83wLAB74PywTGMZmi842Ps",
          "mode": "list",
          "cachedResultName": "My Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10KiYSO16lRzGNNQclv8FB83wLAB74PywTGMZmi842Ps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10KiYSO16lRzGNNQclv8FB83wLAB74PywTGMZmi842Ps/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2112,
        608
      ],
      "id": "da051865-82f1-43bc-8f8d-6dd678a4208b",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "awtniraBwaBXkGcL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lKGCIsOE_4zEpoCGlg4ztsN5Vjh8AeYH2L9cFqinBgE",
          "mode": "list",
          "cachedResultName": "My Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lKGCIsOE_4zEpoCGlg4ztsN5Vjh8AeYH2L9cFqinBgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lKGCIsOE_4zEpoCGlg4ztsN5Vjh8AeYH2L9cFqinBgE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2224,
        480
      ],
      "id": "0a6685cc-7de3-4a5e-b03f-3c3e2ad527ce",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "awtniraBwaBXkGcL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -32
      ],
      "id": "c7ddea1d-98b0-4817-8f2c-a017abdbab96",
      "name": "Send a text message",
      "webhookId": "9f91f0b8-6cae-4e86-b244-257e66616238",
      "credentials": {
        "telegramApi": {
          "id": "EsokjwcCptbvE6sE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        512
      ],
      "id": "bb53e2a1-dfc4-49e0-8483-216ebfdf23f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        480
      ],
      "id": "655118e9-9fbb-4ee5-8946-eb9349bdbbf8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ucNlwH4VvHcgQQAS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "72e380f3-5ee4-4fa2-8e03-2277a09b5e00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8501d048ce1787913ce37cfa824fadf8fe25ecd9c4978bd5d93c6c3abc671cb"
  },
  "id": "6KEkVJFAUdmbpOZg",
  "tags": []
}